@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes flip {
    0% {
        transform: perspective(400px) rotateY(0);
    }

    100% {
        transform: perspective(400px) rotateY(180deg);
    }
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-30px);
    }

    60% {
        transform: translateY(-15px);
    }
}

.bouncing-element {
    animation: bounce 1s ease 0s 1 normal forwards;
}

.flipping-element a:hover {
    animation: flip 1s ease-in-out;
}

.animated-element {
    animation: fadeIn 1s ease-in-out;
}

body {
    font-family: 'Roboto Serif', serif;
    margin: 0;
    padding: 0;
    background-color: #0f172a;
    /* background: radial-gradient(600px circle at 0px 0px, rgba(29, 78, 216, 0.15), transparent 80%); */
}

header {
    text-align: initial;
    padding: 2rem;
}

div {
    cursor: default;
}

.cursor-pointer {
    cursor: pointer;
    z-index: 3;
}

.containers {
    display: flex;
    height: 85vh;
}

.basicInfo h1 {
    font-size: 42px;
    color: #ccd7ed;
}

.basicInfo role {
    margin: 24px 0px 46px 0px;
}

.basicInfo h4, .basicInfo h5 {
    font-size: 24px;
    color: #bfcadf;
}

.basicInfo p {
    font-size: 16px;
    color: #8598b7;
}

.basicInfo nav ul li a {
    color: #bfcadf;
    text-decoration: none;
}

.basicInfo nav {
    margin: 20px auto;
}

section.my-info,
section.basicInfo {
    padding: 1.5rem;
}

label {
    color: #ffffff;
    font-weight: bold;
}

.social-icon {
    display: flex;
    font-size: 28px;
    color: #8598b7;
    gap: 24px;
}

.containerSocialMedia {
    margin-top: 26px;
    margin-bottom: 26px;
}

.font12 {
    font-size: 12px;
    color: #bfcadf;
}

.my-info div div label a {
    text-decoration: none;
    color: #8598b7;
}

.nav ul li a:hover,
.my-info div div label a:hover {
    color: aqua;
}

.nav ul li:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.nav ul li a i.fas,
.my-info div i.fas {
    width: 22px;
}

.my-info {
    flex: 1;
    overflow-y: scroll;
    background-color: transparent;
}

.my-info div {
    color: #8598b7;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.my-info div div p,
.my-info div div ul li {
    font-size: 14px;
}

.my-info::-webkit-scrollbar {
    width: 0.5em;
}

.my-info::-webkit-scrollbar-track {
    background: transparent;
}

.my-info::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0);
}

ul.experiences {
    list-style-type: square;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

ul.experiences ul {
    list-style-type: circle;
}

ul.activities {
    list-style-type: square;
}

.skillsColumn div {
    display: flex;
    column-gap: 20px;
    flex-wrap: wrap;
}

.skillChildFirst,
.skillChildSecond {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 10px;
}

.training {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.skillChildFirst li {
    width: 30%;
    display: flex;
    gap: 10px;
}

.skillChildSecond li {
    width: 45%;
    display: flex;
    gap: 10px;
}

.training li {
    display: flex;
    gap: 10px;
}

.skillChildFirst li i,
.skillChildSecond li i,
.training li i {
    width: 20px;
}

.sticker-button {
    display: none;
}

/* #downloadButton {
    color: #bfcadf;
} */

@media screen and (max-width: 780px) {
    .containers {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .sticker-button {
        display: block;
        position: fixed;
        bottom: 20px;
        right: 20px;
        color: #fff;
        padding: 10px 20px;
    }

    .sticker-button i:hover {
        color: #ccd7ed;
    }

    .my-info,
    .basicInfo {
        padding: 0 !important;
    }

    .skillChildFirst li {
        width: 45% !important;
    }

    .skillChildSecond li {
        width: 100%;
    }
}